{% extends "base.twig" %}

{% block title %}What do you need? (Arabic){% endblock %}

{% block content %}
    <div>
        <ul class="small-up-2 medium-up-4 large-up-4 button-list">
            <li class="column">
                <a href="/ar/need/money" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Money</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Food</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Language help</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Places for help</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Government Information</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Home office centre</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Health</p>
                </a>
            </li>
            <li class="column">
                <a href="#" class="button expand">
                    <img src="//placehold.it/64x64" class="thumbnail" alt="">
                    <p>Transport</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
