{% extends "base.twig" %}

{% block title %}Set your location (in Arabic){% endblock %}

{% block content %}
    <div class="small-6 columns">
        <a href="/en/choose" class="button">
            <img src="//placehold.it/64x64" class="float-left" alt="">
            <h2>I'm at home now: set my location.</h2>
        </a>
    </div>

     <div class="small-6 columns">
        <a href="/en/choose" class="button">
            <img src="//placehold.it/64x64" class="float-left" alt="">
            <h2>I'm not at home: add my address.</h2>
        </a>
    </div>
{% endblock %}
