{% extends "base.twig" %}

{% block title %}Money{% endblock %}

{% block standfirst %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus tincidunt sagittis. Pellentesque justo neque, tincidunt non viverra nec, auctor eget nisl.</p>
{% endblock %}

{% block content %}
    <div class="small-12 medium-6 large-6 columns">
        <div class="callout secondary">
            <img src="//placehold.it/600x200" class="thumbnail" alt="">
            <h2>Post office</h2>
            <p>If you have your identification card you can get money form the Post Office.</p>
            <a href="/en/results/postoffice" class="button expand">
                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                <p>Find a Post Office</p>
            </a>
        </div>
    </div>

    <div class="small-12 medium-6 large-6 columns">
        <div class="callout secondary">
            <img src="//placehold.it/600x200" class="thumbnail" alt="">
            <h2>Western Union</h2>
            <p>You can receive money from your family using Western Union</p>
            <a href="#" class="button expand">
                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                <p>Find Western Union</p>
            </a>
        </div>
    </div>
{% endblock %}
