{% extends "base.twig" %}

{% block title %}Post offices near you (in Arabic){% endblock %}

{% block content %}
           <div class="small-12 medium-6 large-6 columns">
                <div class="callout secondary">
                    <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=53.372722,-1.4682351&heading=234.28&pitch=0&key=AIzaSyBEoWw039wZsgCN9sBND-oLlQfzFJ6vLwo" class="thumbnail" alt="">
                    <p>228 Shoreham St, Sheffield, England</p>
                    <div class="row">
                        <div class="small-6 columns">
                            <a href="#" class="button expand">
                                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                                <p>Navigate using Street View</p>
                            </a>
                        </div>
                        <div class="small-6 columns">
                            <a href="#" class="button expand">
                                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                                <p>Navigate on a map</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-12 medium-6 large-6 columns">
                <div class="callout secondary">
                    <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=53.3787745,-1.470125&heading=19.8&pitch=0&key=AIzaSyBEoWw039wZsgCN9sBND-oLlQfzFJ6vLwo" class="thumbnail" alt="">
                    <p>43 Charles St, Sheffield, England</p>
                    <div class="row">
                        <div class="small-6 columns">
                            <a href="#" class="button expand">
                                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                                <p>Navigate using Street View</p>
                            </a>
                        </div>
                        <div class="small-6 columns">
                            <a href="#" class="button expand">
                                <img src="//placehold.it/128x128" class="thumbnail" alt="">
                                <p>Navigate on a map</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
