{% extends "base.twig" %}

{% block languages %}{% endblock %}

{% block title %}Welcome to Sheffield!{% endblock %}

{% block content %}
  <div class="large-12 columns">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <a class="button expanded" href="/en" class="primary callout">English</a>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <a class="button expanded" dir="rtl" href="/ar" class="primary callout">العربية</a>
      </div>
    </div>
  </div>
{% endblock %}
